# ===================
# Python & Flask
# ===================
__pycache__/
*.py[cod]
*.p~*
.env
*.env

# ===================
# VSCode & macOS
# ===================
.vscode/
.DS_Store

# ===================
# Docker
# ===================
# docker-compose.override.yml
# *.log
# *.pid
# *.seed
# *.dbml

# ===================
# Pip / Virtualenvs
# ===================
pip-log.txt
pip-delete-this-directory.txt
*.venv/
.venv/
venv/
ENV/
env/
pyvenv.cfg

# ===================
# Test & Coverage (Python)
# ===================
.cache/
.pytest_cache/
coverage.xml
htmlcov/
*.cover
*.py,cover
nosetests.xml
*.db

# ===================
# Java / Maven
# ===================
/target/
!/mvn/wrapper/maven-wrapper.jar
*.log

# Ignore target in specific submodules
/mandator-api/target/
/mandator-gui/target/

# ===================
# Java build folders
# ===================
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ===================
# IntelliJ IDEA
# ===================
.idea/
*.iws
*.iml
*.ipr
/out/
shelf/
workspace.xml
/httpRequests/
dataSources/
dataSources.local.xml

# ===================
# Eclipse / Spring Tools
# ===================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ===================
# NetBeans
# ===================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===================
# Configuration files (optional, local)
# ===================
application-dev.properties
application-test.properties

# Projektbeschreibung
HELP.md
